@namespace BlazorBlueprint.Components

<div data-slot="attachment-media"
     data-variant="@Variant.ToString().ToLowerInvariant()"
     class="@CssClass"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>
