@namespace BlazorBlueprint.Components

<div data-slot="attachment"
     data-state="@State.ToString().ToLowerInvariant()"
     data-size="@Size.ToString().ToLowerInvariant()"
     data-orientation="@Orientation.ToString().ToLowerInvariant()"
     class="@CssClass"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>
