@namespace BlazorBlueprint.Components

@if (!string.IsNullOrEmpty(AsChild))
{
    <DynamicComponent Type="@GetElementType()" Parameters="@GetElementAttributes()" />
}
else
{
    <button data-slot="attachment-trigger"
            type="button"
            class="@CssClass"
            @attributes="AdditionalAttributes"></button>
}
