@namespace BlazorBlueprint.Components

@if (ResolvedElement == AttachmentTriggerElement.Anchor)
{
    <a data-slot="attachment-trigger"
       class="@CssClass"
       href="@Href"
       @attributes="AdditionalAttributes"></a>
}
else
{
    <button data-slot="attachment-trigger"
            type="button"
            class="@CssClass"
            @attributes="AdditionalAttributes"></button>
}
