@namespace BlazorBlueprint.Components

<div data-slot="bubble-reactions"
     data-side="@Side.ToString().ToLowerInvariant()"
     data-align="@Align.ToString().ToLowerInvariant()"
     class="@CssClass"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>
