@namespace BlazorBlueprint.Components

<div data-slot="bubble"
     data-variant="@Variant.ToString().ToLowerInvariant()"
     data-align="@Align.ToString().ToLowerInvariant()"
     class="@CssClass"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>
