@namespace BlazorBlueprint.Components

@if (ResolvedElement == BubbleContentElement.Anchor)
{
    <a data-slot="bubble-content"
       class="@CssClass"
       href="@Href"
       @attributes="AdditionalAttributes">
        @ChildContent
    </a>
}
else if (ResolvedElement == BubbleContentElement.Button)
{
    <button data-slot="bubble-content"
            type="button"
            class="@CssClass"
            @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}
else
{
    <div data-slot="bubble-content"
         class="@CssClass"
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
