@namespace BlazorBlueprint.Components

<div data-slot="message"
     data-align="@Align.ToString().ToLowerInvariant()"
     class="@CssClass"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>
