<BbFormFieldTagInput @bind-Tags="categories"
                    Label="Categories"
                    Placeholder="Add a category..."
                    HelperText="Up to 5 categories."
                    MaxTags="5"
                    Clearable="true" />